.mandalaHoverLegend{
    color: $color-white;
    font-family: $font-content;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 30px;

    h2{
        font-weight: normal;
        font-family: $font-heading;
        font-size: 2rem;
    }

    h4{
        font-weight: normal;
        font-size: 1.4rem;
        margin-top: 20px;
    }

    p{
        font-size: 0.7rem;
        margin-top: 20px;
    }

}
