.colEventDetails{
  @media screen and (min-width: 701px) and (max-width: 768px) {
  padding-left: 0px !important;
  padding-right: 0px !important;
  }

.eventDetailsContainer {
  font-family: $font-content;
  color: $color-black;
  font-size: 1rem;
  margin-bottom: 30px;
  margin-top: 20px;

  @media screen and (min-width: 701px) and (max-width: 768px) {
    padding-bottom: 50px;
}
  @media #{$smartphone} {
    margin-top: 45px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .headingWrapper {
    max-width: 800px;

    h2 {
      font-family: $font-heading;
      font-size: 2.8rem;
      margin-bottom: 0.8rem;
      padding-left: 0.1rem;

      @media #{$smartphone} {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }

    h3 {
      font-size: 1.2rem;
      font-weight: normal;
      padding-bottom: 0.8rem;
      margin-bottom: 0px;
      padding-left: 0.1rem;
      border-bottom: 1px solid $color-black;

      @media #{$smartphone} {
        font-size: 0.9rem;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    object-fit: cover;
    margin-top: 1rem;

    @media #{$smartphone} {
      margin-bottom: 0.6rem;
    }
  }

  p {
    padding-left: 0.1rem;
    margin-bottom: 1.5rem;
      
    @media #{$smartphone} {
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }
  }

  .bold {
    font-family: $font-heading;
    margin-bottom: 0.1rem;
  }

  a {
    color: $color-black;
    text-decoration: underline;
       
      @media #{$smartphone} {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        margin-top: 1.2rem;
      }
  }
}
}