// .container {
//   padding-top: 17px;
//   padding-bottom: 17px;

//   @media #{$smartphone} {
//     padding: 10px 0px !important;
//   }

//   .parent {
//     overflow: hidden;
//     padding: 0;
//   }

//   a {
//     text-decoration: none;

//     .child {
//       width: 100%;
//       height: 550px;
//       background-position: center;
//       background-size: cover;
//       transition: all 0.5s ease-out;
//       align-items: center;
//       justify-content: center;
//       display: flex;

//       &:hover {
//         transform: scale(1.1);
//         opacity: 0.9;
//       }

//       .text {
//         width: 80%;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         color: white;
//         font-family: $font-content;
//         font-size: 1.5rem;
//         text-align: center;
//         margin: 0 auto;

//         p {
//           margin-top: 5px;
//           margin-bottom: 5px;
//         }
//       }
//     }
//   }
// }


.container {
  padding-top: 17px;
  padding-bottom: 17px;

  @media #{$smartphone} {
    padding: 10px 0px !important;
  }

  .parentZoomIn {
    overflow: hidden;
    padding: 0;
  }

  .childZoomIn {
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    transition: all 0.7s ease-out;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0.75;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }

    .text {
      width: 80%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      font-family: $font-content;
      font-size: 1.5rem;
      text-align: center;
      margin: 0 auto;

      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}