@import "~styles/config";

.container{
    display: flex;
    height: 80vh;
    &__legend{
        flex: 1;
        color: $color-light;
        margin-top: 30px;
        @media screen and (max-width: 1200px){
            display: none;
        }
        h2{
            font-weight: normal;
            font-family: $medium;
            font-size: 2rem;
        }
        h4{
            font-weight: normal;
            font-size: 1.4rem;
            margin-top: 20px;
        }
        p{
            font-size: 0.7rem;
            margin-top: 20px;
        }
    }
    &__mandala{
        flex: 2;
        @include flex-row;
        justify-content: center;
    }
    &__img{
        flex: 1;
        @include flex-row;
        justify-content: center;
        height: 100%;
        @media screen and (max-width: 1200px){
            display: none;
        }
        img{
            width: 100%;
            background-color: $color-gray;
        }
    }
}