@-ms-viewport {
    width: device-width;
  }
  
  @-o-viewport {
    width: device-width;
  }
  
  @viewport {
    width: device-width;
  }
  
  html,
  body {
    background: $color-dark;
    color: $color-light;
    cursor: none;
    min-height: 100vh;
    height: 100%;
    @media screen and (min-width: $max-720) {
      max-height: 100vh;
      overflow: hidden;
    }
  }
  
  html {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    font-family: $regular;
    counter-reset: heading-counter;
    text-size-adjust: 100%;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  a{
    text-decoration: none;
    color: $color-dark;
  }

  button{
    background: transparent;
    outline: none;
    border: none;
    font-size: $font-size;
    text-transform: uppercase;
    font-family: $regular;
}

ul{
  @include reset-ul;
}