@import "~styles/config";

.container{
    @media screen and (max-width: $min-720){
        @include flex-row;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: $color-gray;
        justify-content: center;
        transform: translate(1000px, 0px);
    }
    ul{
        @include flex-row;
        @media screen and (max-width: $min-720){
            flex-direction: column;
        }
        li{
            font-size: 1.3rem;
            margin-left: 10px;
            @media screen and (max-width: $min-720){
                padding: 5px 0;
                font-size: 2rem;
            }
        }
    }
    &__footerMobile{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}