@import "assets/albums/_albums";

.musicContainer{
    font-family: $font-content;
    padding-top: 20px;
    padding-bottom: 20px;

        @media screen and (min-width: 701px) and (max-width: 768px) {
            padding-bottom: 50px;
        }

    @media #{$smartphone} {
        padding-top: $padding-top-mobile;
        padding-top: 42px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .col-xs-12, .col-sm-12{
        @media screen and (min-width: 701px) and (max-width: 768px) {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    
    }

    .musicFirstCol{
        padding-left: 8px;
        h5{
            margin-top: 16px;
        }
    }

    h3{
        font-size: 1.6rem;
        padding-bottom: 5px;
        border-bottom: 0.8px solid $color-black;
        font-family: $font-content;
        font-weight: normal;

        @media #{$smartphone} {
            font-size: 1.3rem;
            font-family: $font-heading;
            font-weight: normal;
        }
    }
 
    ul{ 
        border-top: 1px solid black;
        margin-bottom: 10px;
        counter-reset: section;
        list-style-type: none;
        
        &:first-of-type{
            border-top: none;
        }
        li{
            display: flex;
            align-content: center;
            justify-content: space-between;
            align-items: center;

            &::before{
                counter-increment: section;
                content: counters(section, "") ".";  
                padding-top: 10px;
                font-family: $font-heading;
            }

            h5{
                font-family: $font-heading;
                font-weight: normal;
                font-size: 1rem;
                padding-top: 10px;
                padding-left: 5px;
            }
            .musicName{
                flex:3;

            // h5{
            //     font-family: $font-heading;
            //     font-weight: normal;
            //     font-size: 1rem;
            //     padding-top: 10px;
            //     padding-left: 5px;
            // }
        }
        .musicData{
            display: inline-block;
            
            p{
                font-size: 0.7rem;
                display: inline-block;
                padding-top: 0px;

                @media #{$smartphone} {
                    font-size: 0.9rem;
                }
            }
            img{
                width: 10px;
                height: auto;
                margin-left: 7px;

                @media #{$smartphone} {
                    width: 13px;
                    height: auto;
                    margin-left: 15px;
                }
            }
        }
        }
    }

    .musicTextTitle{
        padding-top: 25px;
        padding-bottom: 10px;
    }

    img{
        width: 100%;
        height: auto;
        padding-top: 10px;

    }

    p{
        font-size: 0.9rem;
        padding-top: 20px;
        line-height: 19px;
        font-weight: normal;
    }
}

    .containerVideoConcert{
        padding-left: 0px !important;
        padding-right: 0px !important;
    
        .video{
        top: 8px;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0;
        height: 0;
        overflow: hidden;
        
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }