@import "~styles/config";

.container{
    position: relative;
    height: 100%;
    max-width: 1500px;
    margin: auto;
    &__wrapper{
        @include flex-row;
        padding-top: 20px;
        &__info{
            flex: 2;
            margin-right: 15px;
            align-self: end;
            height: calc(100vh - 300px);
            &__content{
                padding-right: 5%;
                h3{
                    font-size: 2rem;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                span{
                    font-size: $font-size-nano;
                }
                &__text{
                    margin-top: 20px;
                }
            }
        }
        &__img{
            flex: 3;
            background-color: $color-light;
            height: calc(100vh - 200px);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    svg{
        width: 100%;
        position: absolute;
        bottom: 50px;
    }
}