@import "~styles/config";

.container{
    padding: 15px;
    padding-bottom: 0px;
    height: 100%;
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        @media screen and (min-width: 1500px) {
            padding-left: 2%;
            padding-right: 2%;
        }
    }
    main{
        height: 100%;
        padding-top: 45px;
        padding-bottom: 45px;
        @media screen and (min-width: 1500px) {
            padding-left: 2%;
            padding-right: 2%;
        }
    }
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}