@import "~styles/config";

.container{
    padding: 15px;
    padding-bottom: 0px;
    @media screen and (min-width: $max-720){
        height: 100%;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        @media screen and (min-width: 1500px) {
            padding-left: 2%;
            padding-right: 2%;
        }
        @media screen and (max-width: $min-720){
            background-color: $color-dark;
        }
    }
    main{
        height: 100%;
        padding-top: 45px;
        padding-bottom: 45px;
        @media screen and (min-width: 1500px) {
            padding-left: 2%;
            padding-right: 2%;
        }
        @media screen and (max-width: $min-720){
            padding-top: 55px;
        }
    }
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}