.box{
    border-bottom: 1px solid $color-black;
    font-family: $font-content;
    margin-top: 20px;

    .boxTitle{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h1{
            font-size: 1.3rem;
            font-weight: normal;
            font-family: $font-heading;
        }

        p{
            font-size: 0.8rem;
            padding-top: 0;
            padding-bottom: 3px;

            &::after{
                background-image: url(/static/media/chevron-down-solid.6b467e1b.svg);
                background-size: 8px 8px;
                width: 8px;
                height: 8px;
                content: "";
                margin-left: 5px;
                display: inline-block;
            }
        }
    }

    .boxContent{

        h2{
            font-size: 0.9rem;
            font-weight: normal;
            margin-top: 20px;
        }

        p{
            font-size: 0.7rem;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        p.musicTextDescription{
            font-size: 0.9rem;
            padding-top: 0px;
        }
    }
}


.box-child{
    border-bottom: 1px solid $color-black;
    font-family: $font-content;
    margin-top: 20px;

    &:last-child{
        border-bottom: 0px;
    }
}