.svgContainer{
    align-items: center;
    display: flex;
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    max-width: 100%;
    overflow: hidden !important;
}

.buttonContainerMute{
    position: fixed;
    bottom: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .buttonMute{
        border: 0.2px solid white;
        color: $color-white;
        margin-top: 0px;
        padding: 5px 10px;
        background-color: transparent;
        font-family: $font-content;
        font-size: 1rem;
    }
}