.videoTitle{
    font-family: $font-content;
    border-bottom: 1px solid $color-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding-top: 25px;

    h3{
        font-size: 2rem;

        a{
            color: $color-black;
            text-decoration: none;
        }
    }
}