@import "../components/footer/_footer";
@import "../components/navBar/_navBar";
@import "../components/pageDocList/_pageDocList";
@import "../components/pageEventDetails/_pageEventDetails";
@import "../components/pageEvents/_pageEvents";
@import "../components/pageHome/_pageHome";
@import "../components/pageImages/_pageImages";
@import "../components/pageImagesDetails/_pageImagesDetails";
@import "../components/pageInfo/_pageInfo";
@import "../components/pageIntroduction/_pageIntroduction";
@import "../components/pageMusique/_pageMusique";
@import "../components/modalPlayVideo/_modalPlayVideo";
@import "../components/toggleBox/toggleBox";
@import "../components/pagePlayVideo/pagePlayVideo";
@import "../_app";