.imagesRow {
    max-width: 1200px;
    margin: auto !important;

    @media screen and (min-width: 701px) and (max-width: 768px) {
      padding-bottom: 50px;
  }

    @media #{$smartphone} {
      padding-top: $padding-top-mobile;
  }
  
    .childZoomIn {
      height: 380px;
    }
  
    a {
      text-decoration: none;
    }
  }