@font-face {
  font-family: "Begum W01 Regular";
  src: local("Begum W01 Regular"), url("./assets/fonts/2168919/29db3a14-468e-4562-ba4f-4baadf4c24c2.eot?#iefix");
  src: local("Begum W01 Regular"), url("./assets/fonts/2168919/29db3a14-468e-4562-ba4f-4baadf4c24c2.eot?#iefix") format("eot"), url("./assets/fonts/2168919/77c88cc7-7400-4de9-ad89-00b63e4bc669.woff2") format("woff2"), url("./assets/fonts/2168919/ef2017d6-1ae1-4dec-bb89-b9b1760e89e9.woff") format("woff"), url("./assets/fonts/2168919/dfb9fc23-4c66-4cd5-86f4-63509a1872e2.ttf") format("truetype");
}

@font-face {
  font-family: "Begum W01 Medium";
  src: local("Begum W01 Medium"), url("./assets/fonts/2169035/17ef16de-af2a-4a80-8c34-986fd09346cb.eot?#iefix");
  src: local("Begum W01 Medium"), url("./assets/fonts/2169035/17ef16de-af2a-4a80-8c34-986fd09346cb.eot?#iefix") format("eot"), url("./assets/fonts/2169035/c52bd02c-0b41-4f39-a147-9a3d6b6566ab.woff2") format("woff2"), url("./assets/fonts/2169035/9f697132-3f27-43b3-9f19-86d661fccace.woff") format("woff"), url("./assets/fonts/2169035/5dc4445d-f87c-4974-9ef8-54eefe8d4e1c.ttf") format("truetype");
}

.containerFooter {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  padding-top: 10px;
  padding-right: 3%;
}

@media screen and (min-width: 701px) and (max-width: 768px) {
  .containerFooter {
    background-color: #f5f5f5;
  }
}

.containerFooter .containerFooterNav {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.containerFooter .containerFooterNav li {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  right: 0;
}

.containerFooter .containerFooterNav li a {
  text-decoration: none;
  font-family: "Begum W01 Regular", sans-serif;
}

.containerFooter .containerFooterNav li:nth-child(2)::before {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  .containerFooter {
    display: none;
  }
}

.containerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .containerLogo {
    position: fixed;
    top: 10px;
    z-index: 10000;
    mix-blend-mode: difference;
  }
}

.containerLogo .logo {
  font-family: "Begum W01 Medium", sans-serif;
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .containerLogo .logo {
    z-index: 1000 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.7rem;
  }
}

.containerLogo .logo a.itemsColor {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .containerLogo .logo a.itemsColor {
    color: #f5f5f5;
  }
}

.containerLogo .pageName {
  font-size: 1.1rem;
  margin-top: 3px;
}

@media screen and (max-width: 700px) {
  .containerLogo .pageName {
    margin-top: 2px;
    font-size: 0.9rem;
    color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.containerLogo .pageName::before {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  .containerLogo .pageName::before {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.loadingScreen {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 10001;
}

.loadingScreen .content {
  margin: 0 auto;
  position: relative;
  width: 230px;
  height: 178px;
  overflow: hidden;
  z-index: 10001 !important;
}

.loadingScreen .content .loading {
  width: 230px;
  height: 180px;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.loadingScreen .content .svgLoading {
  position: absolute;
  top: -160px;
  left: -136px;
  z-index: 10001 !important;
}

@-webkit-keyframes slide {
  0% {
    left: -230px;
    top: 0px;
  }
  20% {
    left: -200px;
    top: 0px;
  }
  40% {
    left: -130px;
    top: 0px;
  }
  75% {
    left: -100px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes slide {
  0% {
    left: -230px;
    top: 0px;
  }
  20% {
    left: -200px;
    top: 0px;
  }
  40% {
    left: -130px;
    top: 0px;
  }
  75% {
    left: -100px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.menu {
  font-size: 1.2rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  margin-right: 8px;
  width: 100%;
}

.menu li {
  margin-right: 15px;
}

.menu li:nth-last-child(2) {
  padding-right: 0px;
}

.menu li:last-child {
  position: absolute;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0px;
  top: 7px;
}

.menu li:last-child a:first-child::after {
  content: "/";
  margin-left: 2px;
  margin-right: 2px;
}

.menu li a.itemsColor {
  text-decoration: none;
}

.nav-mobile .open .side-bar {
  left: 0;
}

.nav-mobile .open .menu-toggler .menu-toggler__line {
  background: #f5f5f5;
  height: 2px;
}

.nav-mobile .open .menu-toggler .menu-toggler__line:nth-child(1) {
  -webkit-transform-origin: 10% 0%;
          transform-origin: 10% 0%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-mobile .open .menu-toggler .menu-toggler__line:nth-child(2) {
  display: none;
}

.nav-mobile .open .menu-toggler .menu-toggler__line:nth-child(3) {
  -webkit-transform-origin: -5% 0%;
          transform-origin: -5% 0%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-toggler {
  position: fixed;
  top: 1.2em;
  right: 1.1em;
  cursor: pointer;
  z-index: 1;
  height: 19px;
  width: 25px;
  z-index: 11;
}

.menu-toggler__line {
  width: 25px;
  height: 1.2px;
  display: block;
  background: #000000;
  position: absolute;
  left: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.menu-toggler__line:nth-child(1) {
  top: 0px;
}

.menu-toggler__line:nth-child(2) {
  margin-top: -1px;
  top: 50%;
}

.menu-toggler__line:nth-child(3) {
  bottom: 0px;
}

.side-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  background: #000000;
  height: 100%;
  left: -1000px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.side-bar .fotterMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  list-style: none;
  position: absolute;
  bottom: 15px;
  font-family: "Begum W01 Regular", sans-serif;
  font-size: 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-bar .fotterMenu li:first-child {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 14px;
}

.side-bar .fotterMenu li:first-child a:first-child::after {
  content: "/";
  margin-left: 4px;
  margin-right: 3px;
}

.side-bar .fotterMenu li:first-child .select {
  position: absolute;
}

.side-bar .fotterMenu a {
  color: #f5f5f5;
  text-decoration: none;
}

.side-menu {
  list-style: none;
  font-size: 2em;
  text-align: center;
}

.side-menu a {
  color: #f5f5f5;
  text-decoration: none;
}

.side-menu__item {
  margin: 0.5em 0;
}

.backgroundMobile {
  height: 60px;
  left: 0;
  top: -5px;
  background-color: #f5f5f5;
  width: 100vw;
  display: block;
  position: fixed;
  z-index: 9;
}

.navbar {
  font-family: "Begum W01 Regular", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoTitle {
  font-family: "Begum W01 Regular", sans-serif;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  padding-top: 25px;
}

.videoTitle h3 {
  font-size: 2rem;
}

.videoTitle h3 a {
  color: #000000;
  text-decoration: none;
}

.previewContainer {
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Begum W01 Regular", sans-serif;
}

.previewContainer .gif {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.previewContainer img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.previewContainer h2 {
  margin-top: 15px;
  font-family: "Begum W01 Medium", sans-serif;
  font-size: 1rem;
}

.previewContainer p {
  margin-top: 5px;
  font-size: 0.9rem;
}

.previewContainer .video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.previewContainer .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animation {
  -webkit-animation: fadeIn 0.5s ease-out;
          animation: fadeIn 0.5s ease-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.docListPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

@media screen and (max-width: 700px) {
  .docListPageContainer {
    padding-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.docListPageContainer .docListContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
}

.docListPageContainer .docListContainer .docListCol {
  padding-left: 0px !important;
}

.docListPageContainer .previewContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
}

@media screen and (max-width: 700px) {
  .docListPageContainer .previewContainer {
    display: none;
  }
}

@media screen and (min-width: 701px) and (max-width: 768px) {
  .colEventDetails {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.colEventDetails .eventDetailsContainer {
  font-family: "Begum W01 Regular", sans-serif;
  color: #000000;
  font-size: 1rem;
  margin-bottom: 30px;
  margin-top: 20px;
}

@media screen and (min-width: 701px) and (max-width: 768px) {
  .colEventDetails .eventDetailsContainer {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .colEventDetails .eventDetailsContainer {
    margin-top: 45px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.colEventDetails .eventDetailsContainer .headingWrapper {
  max-width: 800px;
}

.colEventDetails .eventDetailsContainer .headingWrapper h2 {
  font-family: "Begum W01 Medium", sans-serif;
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
  padding-left: 0.1rem;
}

@media screen and (max-width: 700px) {
  .colEventDetails .eventDetailsContainer .headingWrapper h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.colEventDetails .eventDetailsContainer .headingWrapper h3 {
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 0.8rem;
  margin-bottom: 0px;
  padding-left: 0.1rem;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 700px) {
  .colEventDetails .eventDetailsContainer .headingWrapper h3 {
    font-size: 0.9rem;
  }
}

.colEventDetails .eventDetailsContainer img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  .colEventDetails .eventDetailsContainer img {
    margin-bottom: 0.6rem;
  }
}

.colEventDetails .eventDetailsContainer p {
  padding-left: 0.1rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 700px) {
  .colEventDetails .eventDetailsContainer p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

.colEventDetails .eventDetailsContainer .bold {
  font-family: "Begum W01 Medium", sans-serif;
  margin-bottom: 0.1rem;
}

.colEventDetails .eventDetailsContainer a {
  color: #000000;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .colEventDetails .eventDetailsContainer a {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
  }
}

.container {
  padding-top: 17px;
  padding-bottom: 17px;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 10px 0px !important;
  }
}

.container .parentZoomIn {
  overflow: hidden;
  padding: 0;
}

.container .childZoomIn {
  width: 100%;
  height: 550px;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.75;
}

.container .childZoomIn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.container .childZoomIn .text {
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: "Begum W01 Regular", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

.container .childZoomIn .text p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.svgContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  max-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  overflow: hidden !important;
}

.buttonContainerMute {
  position: fixed;
  bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttonContainerMute .buttonMute {
  border: 0.2px solid white;
  color: #f5f5f5;
  margin-top: 0px;
  padding: 5px 10px;
  background-color: transparent;
  font-family: "Begum W01 Regular", sans-serif;
  font-size: 1rem;
}

.mandalaHoverLegend {
  color: #f5f5f5;
  font-family: "Begum W01 Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 30px;
}

.mandalaHoverLegend h2 {
  font-weight: normal;
  font-family: "Begum W01 Medium", sans-serif;
  font-size: 2rem;
}

.mandalaHoverLegend h4 {
  font-weight: normal;
  font-size: 1.4rem;
  margin-top: 20px;
}

.mandalaHoverLegend p {
  font-size: 0.7rem;
  margin-top: 20px;
}

.legendMandala {
  position: fixed;
  bottom: 110px;
  list-style: none;
}

.legendMandala #borderMandala {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  bottom: 0;
}

.legendMandala li {
  margin-bottom: 3px;
  font-size: 0.7rem;
  font-family: "Begum W01 Regular", sans-serif;
  font-weight: normal;
}

.legendMandala li input {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.legendMandala li input:focus {
  outline: none;
}

.legendMandala li label {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  padding-left: 5px;
  color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mandalaHoverGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.mandalaHoverGif img {
  width: 100%;
}

#background {
  background-color: transparent;
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#contenair {
  width: 550px;
  height: 550px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

@media screen and (max-height: 600px) {
  #contenair {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 1500px) {
  #contenair {
    width: 700px;
    height: 700px;
  }
}

@media screen and (min-width: 1600px) {
  #contenair {
    width: 800px;
    height: 800px;
  }
}

#contenair #border {
  background-color: transparent;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

@media screen and (max-height: 600px) {
  #contenair #border {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 1500px) {
  #contenair #border {
    width: 700px;
    height: 700px;
  }
}

@media screen and (min-width: 1600px) {
  #contenair #border {
    width: 800px;
    height: 800px;
  }
}

#contenair .mandala {
  background-color: transparent;
  width: 550px;
  height: 550px;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@media screen and (max-height: 600px) {
  #contenair .mandala {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 1500px) {
  #contenair .mandala {
    width: 700px;
    height: 700px;
  }
}

@media screen and (min-width: 1650px) {
  #contenair .mandala {
    width: 800px;
    height: 800px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerMobile {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.containerMobile .video {
  top: 60px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.containerMobile .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.containerMobile h3 {
  font-family: "Begum W01 Medium", sans-serif;
  margin-top: 85px;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 20px;
}

.containerMobile .description {
  font-family: "Begum W01 Regular", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10px;
}

.containerMobile .fotterMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  list-style: none;
  position: absolute;
  bottom: 10px;
  font-family: "Begum W01 Regular", sans-serif;
  font-size: 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerMobile .fotterMenu li:first-child {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerMobile .fotterMenu li:first-child::after {
  background-image: url("./chevron-down-solid.svg");
  background-size: 8px 20px;
  background-repeat: no-repeat;
  width: 8px;
  height: 27px;
  content: "";
  margin-left: 5px;
  margin-top: 3px;
  display: block;
}

.containerMobile .fotterMenu a {
  color: #000000;
  text-decoration: none;
}

.imagesRow {
  max-width: 1200px;
  margin: auto !important;
}

@media screen and (min-width: 701px) and (max-width: 768px) {
  .imagesRow {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .imagesRow {
    padding-top: 50px;
  }
}

.imagesRow .childZoomIn {
  height: 380px;
}

.imagesRow a {
  text-decoration: none;
}

.pageImageWrapper {
  text-align: center;
  overflow: hidden;
  font-family: "Begum W01 Regular", sans-serif;
}

.pageImageWrapper .imageContainer {
  display: inline-block;
  margin: auto;
}

.pageImageWrapper .imageContainer img {
  width: auto;
  height: 60vh;
  margin: auto;
  display: block;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
  .pageImageWrapper .imageContainer img {
    width: 100vw;
    height: auto;
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

.pageImageWrapper .imageContainer h2 {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  font-family: "Begum W01 Medium", sans-serif;
}

.pageImageWrapper .imageContainer p {
  text-align: left;
  font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
  .pageImageWrapper .imageContainer p {
    margin-bottom: 50px;
  }
}

.infoIndex .indexTitle {
  padding: 5px 0px 5px 0px;
  font-size: 1.2rem;
  font-weight: normal;
}

.infoIndex .indexSubtitle {
  font-weight: normal;
  padding: 0px 0px 10px 0px;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.infoIndex .indexSubsubtitle {
  padding: 0px 0px 10px 0px;
  padding-left: 2rem;
  font-size: 1rem;
}

.infoIndex .active {
  font-family: "Begum W01 Medium", sans-serif;
}

.infoContainer img {
  width: 100%;
}

.pageInfo {
  margin-top: 2rem !important;
  padding-bottom: 2rem;
  font-family: "Begum W01 Regular", sans-serif;
}

@media screen and (max-width: 700px) {
  .pageInfo {
    margin-top: 50px;
  }
}

.pageInfo p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.pageInfo p.imgLegend {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 20px;
}

.pageInfo h5 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.InfoMobileCtr:first-child {
  margin-top: 50px;
}

.InfoMobileCtr .infoContainer {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.InfoMobileCtr .infoContainer p {
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 1rem !important;
}

.InfoMobileCtr .infoContainer img {
  padding-right: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.albumContainer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  width: 100vw;
}

.albumContainer * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.albumContainer img {
  max-width: 100%;
}

.albumContainer .albumImage {
  display: block;
}

.albumContainer .albumOrderContainer {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.albumContainer:hover .albumOrderContainer, .albumContainer.active .albumOrderContainer {
  opacity: 1;
}

.albumContainer .albumOrderButton {
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  padding: 6px 10px;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.musicContainer {
  font-family: "Begum W01 Regular", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 701px) and (max-width: 768px) {
  .musicContainer {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .musicContainer {
    padding-top: 50px;
    padding-top: 42px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (min-width: 701px) and (max-width: 768px) {
  .musicContainer .col-xs-12, .musicContainer .col-sm-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.musicContainer .musicFirstCol {
  padding-left: 8px;
}

.musicContainer .musicFirstCol h5 {
  margin-top: 16px;
}

.musicContainer h3 {
  font-size: 1.6rem;
  padding-bottom: 5px;
  border-bottom: 0.8px solid #000000;
  font-family: "Begum W01 Regular", sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 700px) {
  .musicContainer h3 {
    font-size: 1.3rem;
    font-family: "Begum W01 Medium", sans-serif;
    font-weight: normal;
  }
}

.musicContainer ul {
  border-top: 1px solid black;
  margin-bottom: 10px;
  counter-reset: section;
  list-style-type: none;
}

.musicContainer ul:first-of-type {
  border-top: none;
}

.musicContainer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.musicContainer ul li::before {
  counter-increment: section;
  content: counters(section, "") ".";
  padding-top: 10px;
  font-family: "Begum W01 Medium", sans-serif;
}

.musicContainer ul li h5 {
  font-family: "Begum W01 Medium", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 5px;
}

.musicContainer ul li .musicName {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.musicContainer ul li .musicData {
  display: inline-block;
}

.musicContainer ul li .musicData p {
  font-size: 0.7rem;
  display: inline-block;
  padding-top: 0px;
}

@media screen and (max-width: 700px) {
  .musicContainer ul li .musicData p {
    font-size: 0.9rem;
  }
}

.musicContainer ul li .musicData img {
  width: 10px;
  height: auto;
  margin-left: 7px;
}

@media screen and (max-width: 700px) {
  .musicContainer ul li .musicData img {
    width: 13px;
    height: auto;
    margin-left: 15px;
  }
}

.musicContainer .musicTextTitle {
  padding-top: 25px;
  padding-bottom: 10px;
}

.musicContainer img {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.musicContainer p {
  font-size: 0.9rem;
  padding-top: 20px;
  line-height: 19px;
  font-weight: normal;
}

.containerVideoConcert {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.containerVideoConcert .video {
  top: 8px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.containerVideoConcert .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rodal-dialog {
  min-height: 100% !important;
  padding: 0 !important;
  background-color: #000000 !important;
}

.rodal-dialog .containerVideoModal {
  height: 100%;
}

.rodal-dialog .containerVideoModal .video {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -28.1%;
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

.rodal-dialog .containerVideoModal .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rodal-dialog .containerVideoModal .introButtonContainer {
  position: absolute;
  top: 10px;
  left: 10px;
}

.rodal-dialog .containerVideoModal .introButtonContainer button {
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  padding: 8px 10px;
  margin-right: 5px;
  background-color: transparent;
  font-family: "Begum W01 Regular", sans-serif;
  font-size: 0.8rem;
}

.rodal-dialog .rodal-close {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 20px;
  height: 20px;
}

.rodal-dialog .rodal-close::before, .rodal-dialog .rodal-close::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: grey;
  border-radius: 0%;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.box {
  border-bottom: 1px solid #000000;
  font-family: "Begum W01 Regular", sans-serif;
  margin-top: 20px;
}

.box .boxTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box .boxTitle h1 {
  font-size: 1.3rem;
  font-weight: normal;
  font-family: "Begum W01 Medium", sans-serif;
}

.box .boxTitle p {
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 3px;
}

.box .boxTitle p::after {
  background-image: url(/static/media/chevron-down-solid.6b467e1b.svg);
  background-size: 8px 8px;
  width: 8px;
  height: 8px;
  content: "";
  margin-left: 5px;
  display: inline-block;
}

.box .boxContent h2 {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 20px;
}

.box .boxContent p {
  font-size: 0.7rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.box .boxContent p.musicTextDescription {
  font-size: 0.9rem;
  padding-top: 0px;
}

.box-child {
  border-bottom: 1px solid #000000;
  font-family: "Begum W01 Regular", sans-serif;
  margin-top: 20px;
}

.box-child:last-child {
  border-bottom: 0px;
}

.containerVideoPage {
  height: 100%;
}

.containerVideoPage .video {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -28.1%;
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}

.containerVideoPage .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a.itemsColor {
  color: black;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer .button {
  border: 1px solid black;
  padding: 10px 15px;
  background-color: transparent;
  font-family: "Begum W01 Regular", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.buttonContainer .button:hover {
  background-color: #000000;
}

.buttonContainer .button:hover a {
  color: #f5f5f5;
}

.buttonContainer .button a {
  color: #000000;
}

@media screen and (max-width: 700px) {
  .col-xs-12, .col-sm-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

ul.navigationMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 50vw;
  list-style: none;
  bottom: 0px;
  padding-bottom: 0.5rem;
  padding-top: 10px;
  font-family: "Begum W01 Regular", sans-serif;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  ul.navigationMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    width: 100vw;
    list-style: none;
    bottom: 0px;
    right: 0;
    left: 0;
    background-color: #f5f5f5;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

ul.navigationMobile li {
  cursor: pointer;
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  ul.navigationMobile li {
    margin-right: 0px;
  }
}

@media screen and (max-width: 700px) {
  ul.navigationMobile li:first-child {
    padding-left: 15px;
  }
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active, .fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms linear 150ms;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}

.App {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
}

@media screen and (max-width: 700px) {
  .App {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .App .container-fluid {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.App .sticky {
  position: -webkit-sticky;
  position: sticky;
}

.pageNotFoundCtr {
  position: absolute;
  width: 60%;
  height: 60%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .pageNotFoundCtr {
    width: 90%;
    height: 90%;
    text-align: center;
  }
}

.pageNotFoundCtr p:first-child {
  font-size: 3.3rem;
}

@media screen and (max-width: 700px) {
  .pageNotFoundCtr p:first-child {
    font-size: 2rem;
  }
}

.pageNotFoundCtr p:last-child {
  border: 1px solid #000000;
  padding: 10px 15px;
  font-size: 1.2rem;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .pageNotFoundCtr p:last-child {
    font-size: 1rem;
  }
}

.pageNotFoundCtr p:last-child a {
  color: #000000;
}

.rowMax {
  max-width: 1200px;
  margin: auto !important;
}
/*# sourceMappingURL=style.css.map */