@import "~styles/config";

.container{
    @include flex-row;
    justify-content: space-between;
    padding: 15px;
    &__wrapper{
        display: flex;
        align-items: baseline;
        h1, h2{
            margin: 0;
            @media screen and (max-width: $max-840){
                z-index: 1;
            }
        }
        h2{
            margin-left: 5px;
            font-size: $font-size-min;
            &:before{
                content: "/";
                margin-right: 5px;
            }
        }
    }
    svg{
        font-size: 1.8rem;
        @media screen and (max-width: $max-840){
            z-index: 1;
        }
    }
}